@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    place-items: center;
    background: #007C9D;
    padding:  3px 4%;
    box-shadow: 0px 0px 10px black;
    align-items: center;
    justify-content: space-between;
   
}
.header h2{
    padding: 20px;
    color: white;
}
.header i{
    display: none;
}
.header .links {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}
.header .links a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: all ease-in 0.4s;
    position: relative;
}
.header .links a:hover {
    color: black;
    font-weight: bold;
}
.header .links a:hover::after {
    width: 100%;
}
.header .links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0%;
    height: 4px;
    background: black;
    border-radius: 3px;
    transition: all ease-in 0.4s;
}
.header .links button {
    padding: 8px 26px;
    background: white;
    font-weight: bold;
    font-size: 15px;
    outline: none;
    border: 2px solid white;
    border-radius: 4px;
    color: black;
    transition: all ease 0.4s;
    cursor: pointer;
}

.header .links button:hover {
    background: orangered;
    border: 2px solid orangered;
    color: white;
}
 .home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 30px;
    padding: 80px 40px;
    background: url('ICU.png');
    background-repeat: no-repeat;
    background-size: cover;
 }
.home .image-gallery{
    width: 50%;
    height: 490px;
    border: 3px solid black;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 1 !important;
}
.home .image-gallery img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in 0.4s;
}
#btnPrev{
    position: absolute;
    top: 50%;
    left: 10px;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: all ease-in 0.3s;
}
#btnPrev:hover{
    color: black;
}
#btnNext{
    position: absolute;
    top: 50%;
    right: 10px;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: all ease-in 0.3s;
}
#btnNext:hover{
    color: black;  
}
.home .content{
    width: 50%;
    height: 490px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
    padding: 0px 40px;
    opacity: 1 !important;
}
.home .content p{
    margin-right: 50px;
    font-weight: 550;
    font-size: 17px;
}
.home .content button{
    padding: 10px 20px;
    border: 2px solid #007C9D;
    background: #007C9D;
    color: white;
    font-size: 15px;
    font-weight: 530;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all ease-in 0.4s;
}
.home .content button:hover{
    background: whitesmoke;
    border: 2px solid black;
    color: black;
    font-weight: 530;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 3px 2%;
        flex-direction: column;
    }
    .header .links {
        gap: 20px;
        flex-direction: row !important;
    }
    .header .links a {
        flex-direction: row !important;
        font-size: 14px;
    }
    .header .links button {
        padding: 6px 20px;
        font-size: 14px;
    }
    .home {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home .image-gallery {
        width: 50%;
        height: 400px;
    }
    .home .content {
        width: 90%;
        text-align: center;
        align-items: center;
        padding: 0;
    }
    .home .content p {
        margin-right: 0;
        font-size: 16px;
    }
    .home .content button {
        font-size: 14px;
        padding: 8px 18px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 100%;
        height: 60px;
        flex-direction: row;
        padding: 15px 5%;
        text-align: center;
    }
    .header .links {
        display: none;
        flex-direction: column !important;
        position: absolute;
        top: 60px;
        right: 0;
        background: rgba(0, 0, 0, 0.418);
        width: 50%;
        text-align: center;
        padding: 20px 0;
        z-index: 100;
    }
    .links a, .links button {
        display: block;
        padding: 10px;
    }
    .links.active {
        display: flex;
    }
    .header i{
        display: flex;
        font-size: 22px;
        color: white;
    }
    .home {
        padding: 30px 10px;
    }
    .home .image-gallery {
        width: 100%;
        height: 450px !important;
    }
    .home .content {
        width: 100%;
        padding: 10px;
    }
    .home .content h1{
        color: black;

    }
    .home .content h2{
        color: black;
    }
    .home .content p {
        font-size: 15px;
        color: black;
    }
    .home .content button {
        font-size: 13px;
        padding: 9px 16px;
    }
    #btnPrev, #btnNext {
        font-size: 20px;
    }
}
